@charset "UTF-8";
body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(255, 255, 255);
    background-color: rgb(45, 0, 209);
}
h2{
    color: brown;
}
p{
    text-align: justify;
}