@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');


:root{
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: 'Sriracha', cursive;
    --fonte3: 'Work Sans', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    margin: auto;
}

header{
    background-color: black;
    color: white;
    padding-top: 50px;
    font-family: var(--fonte3);
    text-align: center;
    font-size: 2.5em;
}

header p{
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: bolder;
}

section{
    padding-top: 12vh;
    padding-bottom: 12vh;
    font-family: var(--fonte2);
    line-height: 2em;
    padding-left: 10px;
    font-weight: 500px;
    font-size: 1.3em;
}

section.normal{
    background-color: darkgray;

}

section.imagem#img01{
    background-image: url('../familia-g-novo.png');
    background-position: center center;
    background-attachment: fixed;
}

section.imagem#img02{
    background-image: url('../familia-m-novo.png');
    background-position: center center;
    background-attachment: fixed;
}

section.imagem#img01 > p{
    background-color: rgba(0, 0, 0, 0.507);
    width: 400px;
    color: rgb(0, 0, 0);
    
}

section.imagem#img02 > p{
    background-color: rgba(143, 143, 143, 0.644);
    width: 400px;
    color: rgb(0, 0, 0);

}

footer{
    background-color: black;
    color: white;
    text-align: center;
}
