@charset "UTF-8";

/*
   em HTML é id = CSS é #
   em HTML é class = CSS é .
*/

body {
    background-color: #8AC4EB;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #3F5A6B;
}

h1#principal {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: white ;
}


h2 {
    color:#6691AD;
}

.basico{
     color: rgb(230, 247, 5);
}

.intermediario{
  color: rgb(17, 0, 167);
}


avancado{
   color: crimson;
}

.destaque{
    background-color: rgba(207, 207, 86, 0.685);
}