@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
      background-image: linear-gradient(to right, #042940,#005C53);
}

main {
     background-color: white;
     border-radius: 7%;
     box-shadow: 5px 5px 20px #01131fc0;
     width: 600px;
     padding: 10px;
     margin: auto;
}

h1 {
    color: #9FC131;
    text-align: center;
    text-shadow: 1px 1px 2px #394612d5;
}

h2 {
    color:#005C53;
}

p {
    text-align: justify;
}