@charset "UTF-8";

/* Typical Device Breakpoints
-------------------------------

Pequenas telas: (até 600px)
Celulares: (de 600px a 768px)
Tablets: (de 768px a 992px) 
Desktops: (de 992px a 1200px)
Grandes telas: (acima de 1200px)

*/

@media screen and (min-width: 768px) {

    span#burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu ul li {
        display: inline-block;
    }

    main{
        width: 768px;
    }

}